<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chowchow.os.chowchow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.dev.cromer.jason.coverme.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".realm.ChowChowApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_36dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ui.view.main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.main.view.attractions.AttractionsActivity" />
        <activity android:name=".ui.view.main.view.tour.TourDetailActivity" />
        <activity android:name=".ui.view.main.view.restaurant.RestaurantActivity" />
        <activity android:name=".ui.view.main.view.shopping.ShoppingActivity" />
        <activity android:name=".ui.view.main.view.event.EventActivity" />
        <activity android:name=".ui.view.main.view.attractions.AttractionsDetailActivity" />
        <activity android:name=".ui.view.main.view.restaurant.RestaurantDetailActivity" />
        <activity android:name=".ui.view.main.view.DirectionActivity" />
        <activity android:name=".ui.view.main.view.tour.TourDayDetailActivity" />
        <activity android:name=".ui.view.main.view.event.EventDetailActivity" />
        <activity android:name=".ui.view.main.view.shopping.ShoppingDetailActivity" />
        <activity android:name=".ui.view.main.view.tour.ItineraryDetailActivity" />
        <activity android:name=".ui.view.main.view.hotel.HotelActivity" />
        <activity android:name=".ui.view.main.view.hotel.HotelDetailActivity" />
        <activity android:name=".ui.view.main.view.weather.WeatherActivity"></activity>
    </application>

</manifest>